<%- include("header") -%>
    <div id="heading" class="box">
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">
      <!-- EJS that updates our list -->
        <% newListItems.forEach(function(item){ %>
          <div class="item">
            <input type="checkbox">
            <p> <%= item.name %> </p>
          </div>
        <% }) %>

        <!-- form that handles user input -->
        <form action="/" method="post">
          <input type="text" name="item" placeholder="Add Item" autocomplete="off">
          <button type="submit" name="list" value=<%=listTitle%>>+</button>
        </form>
    </div>

<%- include("footer") -%>
